<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/components/bootstrap/dist/css/bootstrap.css" />
    <!--<link rel='stylesheet' href="/components/Bootflat/bootflat/css/bootflat.css" />-->
    <link rel='stylesheet' href="/components/fontawesome/css/font-awesome.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
